<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.goandroytech.www.rahisipay">

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:name=".fonts.CustomFontApp"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/rahisi_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/rahisi_logo"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Home"
            android:label="@string/service"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Adapter.Service_Adapter"
            android:screenOrientation="portrait"/>
        <activity android:name=".Subscribe"
            android:screenOrientation="portrait"/>
        <activity android:name=".Adapter.Subscribe_Adapter"
            android:screenOrientation="portrait"/>
        <activity android:name=".CustomDialog"
            android:screenOrientation="portrait"/>
        <activity android:name=".Dialog.ChangePIN_Dialog"
            android:screenOrientation="portrait"/>
        <activity android:name=".Dialog.Reset_PIN"
            android:screenOrientation="portrait"/>
        <activity android:name=".Dialog.ResetCode"
            android:screenOrientation="portrait"/>
        <activity android:name=".Dialog.Pay_Dialog"
            android:screenOrientation="portrait"/>
        <activity android:name=".Forgot"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MyAccount"
            android:label="@string/title_activity_my_account1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewTransaction"
            android:label="@string/transaction_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Adapter.TransactionAdapter" />
        <activity
            android:name=".SelectService"
            android:label="@string/title_activity_select_service"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Dialog.Account_Num"
            android:screenOrientation="portrait"/>
        <activity android:name=".Dialog.PIN"
            android:screenOrientation="portrait"/>
        <activity android:name=".Dialog.Pay"
            android:screenOrientation="portrait"/>
        <activity android:name=".Dialog.Confirmation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BlockCard"
            android:label="@string/title_activity_block_card"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Dialog.BlockCode"
            android:screenOrientation="portrait"/>
        <activity android:name=".Dialog.Message"
            android:screenOrientation="portrait"/>
        <activity android:name=".ChildService"
            android:screenOrientation="portrait"/>
        <activity android:name=".Dialog.TransactionDialog"
            android:screenOrientation="portrait"/>
        <activity android:name=".Visa"
            android:screenOrientation="portrait"/>
        <activity android:name=".Pay_Visa.NotificationHome"
            android:screenOrientation="portrait"/>
        <activity android:name=".Pay_Visa.DigitalReceipt"
            android:screenOrientation="portrait"/>
        <activity android:name=".Pay_Visa.DigitalReceiptTwo"
            android:screenOrientation="portrait"/>
        <activity android:name=".Pay_Visa.CreatemPin"
            android:screenOrientation="portrait"/>
        <activity android:name=".Pay_Visa.PayFriend"
            android:screenOrientation="portrait"/>
        <activity android:name=".Pay_Visa.AddNewAlias"
            android:screenOrientation="portrait"/>
        <activity android:name=".Pay_Visa.AllContacts"
            android:screenOrientation="portrait"/>
        <activity android:name=".Card"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Receipt"
            android:label="@string/receipt"
            android:screenOrientation="portrait"/>
        <activity android:name=".PayScan"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>